html {
    background-color: white;
}
.modal {
    display: flex;
}
.modal-body-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.modal-body-title-name {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
}
.modal-body-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.modal-body-group {
    font-size: 1.6rem;
    margin: 20px 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-body-label {
    font-weight: bold;
    margin-right: 10px;
}
.modal-body-input {
    width: 250px;
    font-size: 1.8rem;
    padding-left: 10px;
}
.modal-body-btn {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.modal-body-btn input {
    width: 110px;
    font-size: 1.5rem;
    padding: 5px;
    background-color:  #E3E3E3;
    cursor: pointer;
}