html {
    background-color: white;
}
html a {
    text-decoration: none;
}
.admin-header {
    width: 100%;
    background-color: black;
    position: fixed;
}
.admin-header-row {
    position: relative;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.admin-header-left {
    width: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-header-left-img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.admin-header-left-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
.admin-header-center {
    flex: 3;
}
.admin-header-center-link {
    color: white;
    font-size: 1.5rem;
    padding: 0 30px;
    border-left: white solid 1px;
}
.admin-header-center-link:hover {
    color: #428BCA;
}
.admin-header-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
    align-items: center;
    cursor: pointer;
}
.admin-header-right:hover .user {
    display: block;
    animation: fadeIn ease-in 0.5s;
}
.admin-header-right:hover .admin-header-right-title {
    color: #428BCA;
}
.admin-header-right-title {
    color: white;
    font-size: 1.5rem;
}
.admin-header-right-img {
    width: 20px;
    margin-left: 5px;
}
.admin-header-right-icon {
    width: 15px;
}
.user {
    display: none;
    position: absolute;
    width: 150px;
    top: 30px;
    padding-top: 10px;
}
.user-group {
    background-color: #F3F3F3;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
}
.user-link {
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #b3b3b3;
}
.user-link:hover {
    background-color: #b3b3b3;
}
.user-link:hover input {
    background-color: #b3b3b3;
}
.user-link a {
    color: black;
}
.user-link input {
    border: none;
    cursor: pointer;
}
.body {
    display: flex;
}
.body-left {
    width: 20%;
    background-color: #F3F3F3;
    margin-top: 50px;
}
.body-main {
    width: 80%;
}
.body-left-group {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 2px;
    box-shadow: black 1px 1px 3px;
}
.body-left-group-icon {
    width: 20px;
    margin: 0 5px 0 30px
}
.body-left-group-title {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}
.body-left-group:hover .body-left-group-title {
    color: #428BCA;
}
/**********/
.body-main {
    margin-top: 50px;
    margin-bottom: 30px;
}
.body-right {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.body-main-header {
    height: 40px;
    display: flex;
    background-color: #F3F3F3;
    align-items: center;
    margin-left: 3px;
}
.body-main-header-title {
    font-size: 2rem;
    font-weight: bold;
    color: #428BCA;
}
.body-main-content {
    width: 100%;
    font-size: 1.6rem;
}
.body-main-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    
}
.body-main-content-header-title {
    font-size: 2rem;
    font-weight: bold;
}
.add {
    background-color: #428BCA;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.add-img {
    width: 15px;
    margin-right: 5px;
}
.add-content {
    color: white;
    font-size: 1.5rem;
}
.body-main-content-table {
    border-collapse: collapse;
    width: calc(100% - 60px);
    margin: 0 30px 30px 30px;
    overflow-x:auto;
}
.body-main-content-table tr:not(:first-child):hover {
    background-color: #f5f5f5;
}
.body-main-content-table td,th {
    padding: 0.6rem 2rem;
    border: 1px solid #b3b3b3;
    text-align: center;
}
.table-img {
    width: 20px;
    margin: 0 5px 0 5px;
}
.report {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.report-body {
    background-color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
}
.report-body-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.report-body-top span {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 50px;
}
.report-body-top img {
    width: 50px;
    margin-left: 50px;
}
.report-body-bottom {
    text-align: center;
}
.report-body-bottom span {
    font-size: 2rem;
    font-weight: bold;
}